body{
    background-color: #7bae7f;
    font-family:verdana;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    font-size: 100%;
    padding: 20px
}

header {
    background-color:#207654;
    padding:0.25rem;
    padding-left:1rem;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 5px;
}

.box {
    display: flex;

}

.card {
    margin:1rem;
    /* border: 20px black; */
    /* box-shadow: 5px 10px; */
}

.PondCard {
    background-color: #207654;
    margin: 0.25rem;
    padding: 0.25rem;
    text-align: center;
}

.PondCard > h3 {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.shadow{
    border-bottom: solid;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    box-shadow: 5px 10px;
}

.nobackgroundheading {
    margin-top: 1.5rem;
}

.frogGangModalWrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 128, 64, 0.4);
}

.frogGangModal {
    height: fit-content;
    width: 200px;
    background-color: white;
    border-radius: 0.25rem;
}

.frogGangModal > button {
    margin: 0.5rem;
}

.frogGangModal > h3 {
    text-align: center;
    margin: 0.25rem;
}

.frogGangModal > p {
    padding-top: 0.25rem;
}

.closeButtonWrapper {
    display:flex;
    justify-content: right;
    padding:0.25rem;
}

.PondPlantsNavBar {
    list-style-type: none;
    background-color: black;
    color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.4);
}

.PondPlantsNavBar > li {
    float:right;
    display:block;
    padding:0.5rem;
    /* background-color: #207654; */
   
}

li:hover {
    background-color:#207654;
}


.active{
    background-color: #207654;
    padding:0.5rem;
}




a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color:white
}

.frogBtn {
    color: white;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: darkgreen;
    border-radius: 1rem;
    border: none;
    transition: all 0.1s linear;
}

.frogBtn:hover {
    transform: scale(1.1);
}

.frogBtn:active {
    transform: translateY(0.1rem);
}

img:hover {
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotateZ(5deg)
}