body {
    /* background-color: #006d77; */
    background-color: #001524;
    font-family: verdana;
    margin-left: 20px;
    margin-right: 20px;
    color: whitesmoke;
}

p {
    font-size: 100%;
    padding: 20px
}

header {
    /* background-color:#83c5be; */
    /* background-color: #15616d; */
    padding: 0.1rem;
    padding-left: 1rem;
    margin-left: 1rem;
    border-left-style: solid;
    border-left-color: #e29578;
    border-left-width: 5px;
    color: #e29578;
}




.NavBarBox {
    list-style-type: none;
    /* background-color: #e29578; */
    background-color: #001524;
    color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.4);
}

/* .PondPlantsNavBar>li {
    float: right;
    display: block;
    padding: 0.5rem;
} */


.NavBarBox{
    display: flex;
    width: 100%;
    justify-content: flex-end;

}


.NavBarCard{
    display: flex;
    align-items: flex-end;
    padding: 0.5rem;
    text-align: center;
}


.NavBarCard:hover {
    background-color: #ffddd2;
}


.active {
    background-color: #e29578;
}


a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: white
}


.box {
    display: flex;
}

.card {
    margin: 1rem;
    /* background-color: rgba(0, 109, 119); */
    /* border: 20px black; */
    /* box-shadow: 5px 10px; */
}

.PondCard {
    /* background-color: #83c5be; */
    background-color: #e29578;
    margin: 0.5rem;
    padding: 0.25rem;
    text-align: center;
    width: 100%;
}

.PondCard>h3 {
    padding: 1rem;
    margin: 1rem;
}

.shadow {
    border-bottom: solid;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    box-shadow: 5px 10px;
    background-color: #15616d;
}

.nobackgroundheading {
    margin-top: 1.5rem;
}

.frogGangModalWrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 221, 210, 0.5);
}

.frogGangModal {
    height: fit-content;
    width: 200px;
    background-color: whitesmoke;
    border-radius: 0.25rem;
}

.frogGangModal>button {
    margin: 0.5rem;
}

.frogGangModal>h3 {
    text-align: center;
    margin: 0.25rem;
    color: black;
}

.frogGangModal>p {
    padding-top: 0.25rem;
    color: black;
}

.closeButtonWrapper {
    display: flex;
    justify-content: right;
    padding: 0.25rem;
}


.frogBtn {
    color: white;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #e29578;
    border-radius: 1rem;
    border: none;
    transition: all 0.1s linear;
    margin-bottom: 4rem;
}

.frogBtn:hover {
    transform: scale(1.1);
}

.frogBtn:active {
    transform: translateY(0.1rem);
}

img:hover {
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotateZ(5deg)
}

.AssBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #001524;
    margin-bottom: 0%;
    margin-top: 2rem;
    left: 0;
    overflow: hidden;
    box-shadow: 0px -10px 8px rgba(0, 0, 0, 0.4);
}

.AssInfo {
    display: block;
    float: left;
    list-style-type: none;
    width: 33.33%;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-sizing: border-box;
}

.ColumnsTest {
    column-count: 3;
}